.SelectedWordsContainer {
  display: flex;
  padding: 0 10% 0 10%;
  align-items: center;
  justify-content: center;
  height: 50px;
};

.SelectedWordsBox {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
};

.AvailableWordsContainer {
  display: flex;
  margin-top: 10px;
  padding: 0 10% 0 10%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
};

.WordBox {
  /* background-color: ${(p: IWordBoxProps) => p.selected ? "#989898" : "#E8E7E6"}; */
  display: inline-block;
  margin: 4px 9px;
  padding: 1px 15px;
  border-radius: 3px;
  box-shadow: inset 0 0 2px #B8B7B6;
  height: 25px;
  vertical-align: top;
  /* color: ${(p: IWordBoxProps) => p.selected ? "grey" : "black"}; */
  cursor: pointer;
};

.QuestionRow {
  margin: 20px;
};

.answer {
    border: 1px solid #E8E7E6;
    min-height: 50px;
    margin-bottom: 10px;
}

.word {
    background: #E8E7E6;
    display: inline-block;
    margin: 4px 9px;
    padding: 1px 15px;
    border-radius: 3px;
    box-shadow: inset 0 0 2px #B8B7B6;
    height: 25px;
    vertical-align: top;
    cursor: pointer;
}