.navbar.navbar-default {
  background-image: none;
  background-color: #20a8e9;
  border-style: none;
  border-width: 0px;
  border-color: #20a8e9;
  border-radius: 0px;
}

.navbar-default .navbar-nav > .active > a {
  background-image: none;
  background-color: white;
}

.link-main {
  background-color: transparent;
  border-style: none;
  color: white;
}
