.success-box {
  position: fixed;
  bottom: -230px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 230px;
  justify-content: flex-start;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: limegreen;
  transition: bottom .3s ease;
}

.visible {
  bottom: 0;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
