.bg-duopettaja {
  background-color: #20a8e9;
  background-image: none;
  height: 10px;
  transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
}

.progress span {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}