.skill {
    background: rgb(255, 196, 0);
    /* margin: auto;
    border-radius: 50%; */
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.skill-border {
    width: 100px;
    height: 100px;
}
