.skills {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  padding: 0 40px 0 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
