html, body, #root {
  margin: 0;
  padding: 0;
  /* height: 100%; */
}

body {
  font-family: sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.btn-primary {
    background-image: none;
    background-color: #1caff6;
    border-color: #1caff6;
}

.btn-success {
    background-image: none;
    background-color: #7eb530;
    border-color: #7eb530;
}

.container {
  margin-top: 50px;
}

nav {
  background-color: #1caff6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 10px 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
