body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.btn-primary {
    background-image: none;
    background-color: #1caff6;
    border-color: #1caff6;
}

.btn-success {
    background-image: none;
    background-color: #7eb530;
    border-color: #7eb530;
}

nav {
  background-color: #1caff6;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
